# Copy this file to .env and fill in the values

# JWT Secret for signing tokens (generate with: node -e "console.log('JWT_SECRET=' + require('crypto').randomBytes(32).toString('hex'))")
JWT_SECRET=your-secret-here

# MongoDB connection string
DATABASE_URL=mongodb+srv://username:password@cluster.mongodb.net/rast7?appName=Latihan