:root {
    --border-clr:rgba(232, 227, 255,.2);
}

.game-main > button {
    position: fixed;
    box-shadow:inset 0 0 15px 10px rgba(255, 255, 255, 0.1),0 0 20px 5px rgba(255, 255, 255, .1);
    border: 1px solid var(--border-clr);
    background-color: rgb(80, 25, 151);
    padding: 1rem 2rem;
    border-radius: 16px;
    color: #f5f5f5;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    z-index: 4;
    transition: transform 0.3s ease;
    width: 200px;
}

.game-main > button:hover {
    background-color: #00aaff ;
    transform: translateX(-50%) scale(1.05);
}

@keyframes jump {
    0% {
        transform : translate(0) rotateZ(0deg);
    }
    70% {
        transform : translateY(-50%) rotateZ(-10deg);
    }
    100% {
        transform: translate(0) rotateZ(0deg);
    }
}

.game-main > button:hover svg {
    animation: jump .7s ease-in-out infinite;
}

.game-main > button svg {
    width: 1.5rem;
    fill: #f5f5f5;
    margin-right: .5rem;
}

.game-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url('/asset/logo_game/mlbb-kagura.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.game-bg-valorant {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url('/asset/logo_game/valorant-wpp.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@keyframes fadeInUp {
    0% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0);
    }
}

.game-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(26, 26, 46);
    margin-top: -10vh;
    border-radius: 50px 50px 0 0;
    padding: 1rem;
    color: #f0f0f0;
    box-shadow: 0 -20vh 100px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 0.8s ease 0.1s both;
}

/* ===== INPUT ID ====== */

.game-content .game-input-container {
    /* box-shadow: inset 0 4px 12px rgba(233, 233, 240, 0.2); */
    box-shadow:inset 0 0 30px 10px rgba(0, 0, 0, 0.1),0 0 30px 10px rgba(255, 255, 255, .1);
    width: 100%;
    margin-inline: .3rem;
    position: relative;
    padding: 2rem 2rem 2rem 1rem;
    border-radius: 16px;
    border: 1px solid var(--border-clr);
    background-color: rgba(245, 245, 245,.1);
}

.game-content .game-input-container .game-title {
    margin-left: 1.5rem;
}

.game-content .game-input-container .game-input-id-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.game-content .game-input-container::before {
    content: '1';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    left: -15px;
    width: 50px;
    height: 50px;
    background-color: #00bcd4;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0,.2);
}

.game-content .game-input-container.game-nominal-section::before {
    content: '2';
}

.game-content .game-input-container.game-pay-section::before {
    content: '3';
}

.game-content .game-id-section .game-input-group {
    display: flex;
    flex-direction: column;
    padding-right: .3rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.game-content .game-id-section .game-input-group p {
    margin-bottom: 10px;
    font-weight: bold;
}

.game-content .game-id-section .game-input-group .game-input-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.game-content .game-id-section .game-input-group .game-input-wrapper .game-icon {
    position: absolute;
    left: 2%;
    top: 28%;
}

.game-content .game-id-section .game-input-group .game-input-wrapper .game-limit {
    position: absolute;
    right: 5%;
    font-size: .8rem;
    color: rgba(245, 245, 245,.5);
}

.game-content .game-id-section .game-input-group input {
    background-color: rgba(245, 245, 245,.7);
    padding: 1rem 3rem;
    border-radius: 16px;
    outline: none;
    border: none;
    flex-grow: 1;
    width: 100%;
    font-size: 1rem;
}

.game-content .game-id-section .game-input-group input::placeholder{
    color: rgba(245, 245, 245,.7);

}

/* ===== INPUT ID END ====== */


/* ===== INPUT NOMINAL ====== */

.game-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 8% ;
    height: fit-content;
    border-radius: 16px;
    overflow: hidden;
    border-top: 3px solid var(--border-clr);
    background-color: rgb(189, 189, 189);
    cursor: pointer;
}

.game-card.active {
    outline: 5px solid #00aaff;
    outline-offset: 2px;
    
}

.game-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.2);
}

.game-nominal-section .game-list-diamond .game-card > p{
    font-weight: 500;
    font-size: 1.2rem;
}

.game-nominal-section .game-list-diamond .game-card .game-img-container {
    width: 50%;
}

.game-nominal-section .game-list-diamond .game-card .game-img-container img {
    width: 100%;
}

.game-nominal-section .game-list-diamond .game-card .game-card-bottom {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 6% 6% 6% 0;
}

.game-nominal-section .game-list-diamond .game-card .game-card-bottom p {
    color: rgb(240 ,99 ,131);
    margin: 0;
    font-size: .8rem;
}

.game-nominal-section .game-list-diamond .game-card .game-card-bottom p.game-harga {
    font-weight: bold;
    font-size: 1.2rem;
}

.game-nominal-section .game-list-diamond .game-card .game-card-bottom .game-diskon .game-persen {
    background-color: greenyellow;
    border-radius: 16px;
    padding: .1rem .3rem;
    background-color: rgb(213, 247, 219);
    color: rgb(8, 173, 54);
    font-weight: bold;
    font-size: .7rem;
}

.game-nominal-section .game-list-diamond .game-card .game-card-bottom .game-diskon .game-af-diskon {
    text-decoration: line-through;
    color: rgb(145 ,141, 161);
    font-size: .7rem;

}

/* ==== PILIH PEMBAYARAN ===== */
.game-pay-section .game-card {
    padding-left: 1rem;
    align-items: flex-start;
    background-color:  whitesmoke;
}

.game-pay-section .game-card .game-pay-img {
    margin-bottom: .5rem;
}
/* ==== PILIH PEMBAYARAN END ===== */
